@import url("styles/header.css");
@import url(styles/banner.css);
@import url(styles/carrossel.css);

:root{
--cor-de-fundo:  #c26f37;
--branco: #FFFFFF
}

body{
background-color: var(--cor-de-fundo);
}












